.card-title {
  text-align: center;
}
.card-text {
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}
.card {
  height: 100%;
}
.button2 {
  margin-left: 6%;
  left: 0;
  position: absolute;
  bottom: 10;
  width: 30%;
  height: 7%;
  background: white !important;
  color: black !important;
  outline-style: solid;
}

.button1 {
  margin-right: 6%;
  position: absolute;
  bottom: 10;
  right: 0;
  width: 30%;
  height: 7%;
  background: white !important;
  color: black !important;
  outline-style: solid;
  text-align: center;
}
