.organizedColumn {
  width: fit-content;
  position: relative;
  height: 45vh;
}

.Title {
  text-align: center;
  margin: auto;
  position: relative;
  text-decoration: underline;
}

.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.col {
  position: relative;
}
