.organizedColumn {
  width: fit-content;
  position: relative;
  height: 27vh;
  margin: 0;
  padding: 0;
}

.mainTitle {
  margin: 25px;
}
.container-fluid {
  width: 66vw;
  margin-left: 17vw;
  padding: 0px;
}
.modalClose {
  float: right;
}

.row {
  margin: 0;
  padding: 0;
}
.modalTitle {
  margin-left: 10px;
}
.tag {
  color: #5085a5;
  font-size: medium;
  opacity: 0.75;
  margin-left: 10px;
}
.slide {
  height: 35vh;
}

@keyframes slideUp {
  from {
    margin-top: 20%;
  }
  to {
    margin-bottom: 25%;
  }
}

@keyframes slideDown {
  from {
    margin-top: -20%;
  }
  to {
    margin-bottom: 25%;
  }
}

.modalBtn {
  background-color: white !important;
  color: black !important;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #5085a5;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
.cardBtn {
  background-color: white !important;
  color: black !important;
  outline-style: solid;
  outline-color: #5085a5;
}
.title {
  font-size: larger;
  text-align: center;
}

.textArea {
  font-size: medium;
  text-align: center;
  color: #5085a5;
}
.displayImg {
  width: 100%;
  height: 100%;
}

/* .cardInfo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */

.Holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.Holder .cardBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.Holder .cardInfo {
  display: none;
}

.Holder.cardBtn:hover {
  display: block;
}
.Hovered {
  position: relative;
  width: 100%;
  height: 100%;
}
.Hovered .cardBtn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  animation-name: slideUp;
  animation-duration: 0.5s;
}

.Hovered .cardInfo {
  animation-name: slideDown;
  animation-duration: 0.5s;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.Hovered .displayImg {
  opacity: 0;
  transition-duration: 0.25s;
}
